name: Java API Tests (TestNG + RestAssured)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '18'
          cache: maven

      - name: Run TestNG tests
        run: |
          mvn clean test -DsuiteXmlFile=regression.xml -DxApiKey=${{ secrets.X_API_KEY }} -Denv=qa 

      - name: Generate Allure report
        if: always()
        run: |
          npm install -g allure-commandline
          allure generate target/allure-results --single-file --clean -o target/allure-report

      - name: Upload Surefire TestNG reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: testng-reports
          path: target/surefire-reports

      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/allure-report